extends layout

block page_css
  //- link(rel='stylesheet', href='/css/lightslider.min.css')
  link(rel='stylesheet', href='/plugins/datatables/dataTables.bootstrap.css')
  link(rel='stylesheet', href='/css/pages/home.css')

block content
  section.content
    .row
      .panel-body
        form(method="POST", action="/dashboard")
          button(type="submit") Refresh
    .row
      .col-md-12
        .box.box-primary
          .box-header.with-border
              h3.box-title Users' Event Dashboard
          .box-body
            table#visits.table.table-bordered.table-striped.dataTable(role="grid")
              thead
                tr
                  th User
                  th Page
                  th Event
                  th Mouse Position
                  th Time
              tbody
                each log in logs
                  tr
                    td #{log.UserName}
                    td= log.PageName
                    td= log.Event
                    td= 'x = ' + log.MouseX + ', ' + 'y = ' + log.MouseY
                    td= log.newCreatedAt
    .row
      .col-md-12
        .box.box-primary
          .box-header.with-border
              h3.box-title Summary
          .box-body
            table#visits_realtime.table.table-bordered
              thead
                tr
                  th Date
                  th Page                 
                  th Number of Event            
              tbody
                //each visit in visits
                tr
                  td #{"Last 1 hour"}
                  td= "HOME"                  
                  td= count_h_1 
                tr
                  td #{"Last 24 hours"}
                  td= "HOME"
                  td= count_h_24
                tr
                  td #{"Last 1 hour"}
                  td= "Requirement"                  
                  td= count_r_1 
                tr
                  td #{"Last 24 hours"}
                  td= "Requirement"
                  td= count_r_24
                
block page_script
  //- script(src='/js/lightslider.min.js')
  script(src='/plugins/datatables/jquery.dataTables.min.js')
  script(src='/plugins/datatables/dataTables.bootstrap.min.js')
  script(src='/js/pages/dashboard.js')
