extends layout

block page_css
  //- link(rel='stylesheet', href='/css/lightslider.min.css')
  link(rel='stylesheet', href='/plugins/datatables/dataTables.bootstrap.css')
  link(rel='stylesheet', href='/css/pages/home.css')

block content
  section.content
    .row
      .col-md-12
        .box.box-solid
          //- .box-header.with-border
            //- h3.box-title Horizontal Form
          // /.box-header
          // form start
          form.form-horizontal
          .box-body
            .form-group
              .col-md-1
                label
                  | Post Id
              .col-md-5
                input#postId.form-control(type='text', name="postId", placeholder='Id của bài viết', value= listComments.Id)
              .col-md-3
                button#showPostDetail.btn.btn-info(type='submit') Show
    .row
      .col-md-12
        .box.box-solid
          .box-body
            .col-md-2
              label
                | Chủ đề bài viết
            .col-md-4
              label
                | {TODO: Tự động biết chủ đề bài viết}
            .col-md-2
              label
                | Thời gian
            .col-md-4
              label= listComments.CreatedTime
    .row
      .col-md-12
        .box.box-solid
          .box-header.with-border
            i.fa.fa-text-width
            h3.box-title Nội dung bài viết
          .box-body
            dd= listComments.Content
    .row
      .col-md-12
        .box.box-solid
          .box-body
            .col-sm-2
              .description-block.border-right
                label= listComments.NumComment
                br
                span.description-text TOTAL COMMENTS

            .col-sm-2
              .description-block.border-right
                label= listComments.NumShare
                br
                span.description-text TOTAL SHARES

            .col-sm-2
              .description-block.border-right
                label= listComments.NumLike
                br
                span.description-text TOTAL LIKES

            .col-sm-2
              .description-block.border-right
                label= listComments.NumLove
                br
                span.description-text.bg-red-active LOVE

            .col-sm-2
              .description-block.border-right
                label= listComments.NumSad
                br
                span.description-text.bg-blue-active SAD

            .col-sm-2
              .description-block.border-right
                label= listComments.NumAngry
                br
                span.description-text.bg-yellow-active ANGRY
      //-   .box.box-solid
      //-     .box-body
      //-       .col-md-2
      //-         label | Comments |
      //-         label= listComments.NumComment
      //-       .col-md-2
      //-         label | Likes |
      //-         label= listComments.NumLike
      //-       .col-md-2
      //-         label | Shares |
      //-         label= listComments.NumShare
      //-       .col-md-1
      //-         label.label-success Love
      //-       .col-md-1
      //-         label 10
      //-       .col-md-1
      //-         label.label-warning Sad
      //-       .col-md-1
      //-         label 2
      //-       .col-md-1
      //-         label.label-danger Angry
      //-       .col-md-1
      //-         label 2
    .row
      .col-md-12
        .box.box-solide
          .box-header.with-border
            h3.box-title Danh sách bình luận
          .box-body
            table#postDetail.table.table-bordered.table-striped.dataTable(role="grid")
              thead
                tr
                  th User
                  th User UID
                  th Phone
                  th Email
                  th Comment
                  th Positive
                  th Neutral
                  th Negative
                  th Related
                  th Time
              //- tbody
                //- each comment in listComments.Comments
                //-   tr
                //-     td= comment.UserName
                //-     td= comment.Content
                //-     td= comment.IsPositive
                //-     td=  "?"
                //-     td= "?"
                //-     td= comment.IsRelatedToPost
                //-     td= comment.CreatedTime

block page_script
  //- script(src='/js/lightslider.min.js')
  script(src='/plugins/datatables/jquery.dataTables.min.js')
  script(src='/plugins/datatables/dataTables.bootstrap.min.js')
  script(src='/js/pages/post-detail.js')
